/**
 * S'applique au bloc index-oeuvre  sur le site 
 */


.vt--block-bouton-index {
	margin-left: 0 !important;
	padding: 2%;
	margin-bottom: 2%;
	background-color: var(--vtmt--bg-symbole-bouton-index);
	color: var(--vtmt--co-symbole-bouton-index);
	width: max-content !important;
	max-width: 100% !important;
	border-radius: 10px;
	border: 3px ridge var(--vtmt--bg-symbole-bouton-index);
	
}
.vt--block-bouton-index:hover {
	cursor: pointer;
	color: #B0C4DE;

}
.vt--block-bouton-index h5 {
	padding: 0;
	margin: 0 !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/

.vt--popup__support {
	display: none;
	background-color: var(--vtmt--bg-masque-clair);
	margin: 0 !important;
	width: 100%;
	max-width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: calc(100vh - var(--vtmt--hauteur-zone-externe-reservee));
	box-sizing: unset;
	justify-content: center;
	align-items: center;
	z-index: 99;

}

.vt--wrap-index-choeurs  {
	background-color: var(--vtmt--bg-symbole-bouton-index);
	/*opacity: 0.9;*/
	border-radius: 10px;
	display: flex;
	margin: 0 1%;
	flex-direction: row;
	flex-wrap: wrap;
	width: 99%;
	/*max-width: calc(var(--vtmt--largeur-utile) * 0.99) !important;  */
	max-width: min(var(--vtmt--largeur-utile) * 0.99, 600px) !important;  
	justify-content: center;
	gap: 25px 10px;
	padding-top: 25px;
	padding-bottom: 25px;

	/*max-height: 100vh;*/
}

@media only screen and (max-height: 600px) {
	.vt--popup__support {
	}
	.vt--wrap-index-choeurs {
		/*
		align-items: flex-start;
		overflow-y: scroll;
		overflow-x: hidden;
		*/
	}

}



/*-----------------------------------------------------------------------------------------------------------------------------------*/

div.vt--lien-vers-ancre {
	width: fit-content !important;
	padding: 0.8% !important;
	/*background-color: var(--vtmt--bg-bouton-index); */ /*#005177;*/
	color: var(--vtmt--co-symbole-bouton-index); /*white*/
	border: .5px solid;
	border-radius:10px;
	text-decoration: none !important;
	line-height: normal;
	opacity: 1;
}

div.vt--lien-vers-ancre:hover {
	color: #B0C4DE;
	cursor: pointer;
}

