/**
* S'applique au bloc-prononciation  sur le site et dans l'éditeur
 */

.vt--une-section {
	.vt--prononciation {
		padding: 0 !important;
	}

	.vt--prononciation .vt--elements-prononciations {
		margin: 0 !important;
		margin-bottom: 2% !important;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 100% !important;
		align-items: center;
		gap: 3%;
	}
}