/**
 * S'applique au bloc une-interpretation  sur le site et dans l'éditeur
 */

.wp-block-vt-music-training-vt-interpretation {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.vt--bloc-interpretation {
	background-color: pink;
	color: red;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px 20px;
}
