/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-bloc-prononciation {
	border: 1px dotted #f00;
}
.vt--une-section {
	h4, h5 {
		margin-top: 1% !important;
		margin-bottom: 1% !important;
	}
}
