/**
 * S'applique au bloc bloc-section  sur le site et dans l'éditeur
 */

:root {
	--vtmt--height-boutons: 50px;
	--vtmt--width-boutons: 50px;
}
@media screen and (max-width: 410px) {
	:root {
		--vtmt--width-boutons: calc((98vw / 7) - 8px); // 7 : nombre max de boutons / ligne
		--vtmt--height-boutons: calc((98vw / 7) - 8px);
	}
}

.vt--hidden {
	display: none !important;
}


.vt--une-section_wrap {
	/*all: initial;*/
	display: flex;
	justify-content: center;
	background-color: var(--vtmt--bg-section-wrap);
}
.vt--une-section {
	all: initial;
	display: block;
	font-family: 'Inter var', courier, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.015em; 
	text-align: left;
	width: 100%;
	max-width: var(--vtmt--largeur-utile); /* à préciser */
	margin: auto;
	padding: 0 !important;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 4px;
/*	background-color: #54395b;
	color: #fbfbfb;*/
	word-break: break-word;
	word-wrap: break-word;

}
/*
.vt--une-section * {
	color: #111;
}
.vt--une-section > * {
	color: #eee;
}
*/
.vt--une-section{
	h1, h2, h3, h4, h5, h6 {
		border: none;
		font-size: inherit;
		font-family: 'Inter var', courier, sans-serif;
		font-feature-settings: "lnum";
		font-variant-numeric: lining-nums;
		font-weight: 700;
		text-align: inherit;
		letter-spacing: -0.0415625em;
		line-height: 1.25;
		padding: 0;
		margin: 0;
	}
	
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1em;
	}
	h5 {
		font-size: 0.9em;
	}
	@media (min-width: 700px) {
		h2 {
			font-size: 3em;
		} 
		h3 {
			font-size: 2em;
		} 
		h4 {
			font-size: 1.5em;
		} 
		h5 {
			font-size: 1.2em;
		} 
	}

	/*----------------------------------------------------------------
	Masque du lecteur
	-----------------------------------------------------------------*/
	.vt--masque-modal {
		display: flex;
		background-color: rgba(0, 0, 0, 0.5);
		/*background-color: var(--vtmt--bg-masque-clair);*/
		margin: 0 !important;
		width: 100%;
		max-width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		height: calc(100vh - var(--vtmt--hauteur-zone-externe-reservee));
		justify-content: center;
		align-items: center;
		z-index: 1000; /* inférieur à 1060 qui est le z-index de Swal */


	}

	.vt--masque-modal-inner {
		display: flex;
		position: relative;
		/*align-items: center;*/
		width: 100%;
		max-width: var(--largeur-utile);
		/*height: 100%;*/
		opacity: 1.0;
	}

	.vt--popup-lecteur-entrainement {
		display: flex;
		position: relative;
		margin: 1vh auto 0; /* 8%*/
		width: 900px;
		max-width: 98%;
		max-height: calc(100vh - var(--vtmt--hauteur-zone-externe-reservee));
		background-color: var(--vtmt--bg-popup-lecteur);
		color: var(--vtmt--co-popup-lecteur); /*rgb(26,26,26);*/
		opacity: 1;
		box-shadow: 0px 0px 20px #000;
		border-radius: 3px;
		scroll-behavior: smooth;
		overflow: auto;
		scroll-snap-type: y mandatory;
		scroll-snap-align: start;
		scrollbar-width: none;
		vertical-align: start;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		padding: 0.5vw;
	}

	/**-----------------------------------------------------------------------------------------------------
	* Règles du lecteur et du clavier
	-------------------------------------------------------------------------------------------------------*/
	
	.vt--bloc-lecteur {
		display: flex;
		width: 100%; /* Pour rester dans le cadre lorsqu'il change de dimension */
		max-width: 95vw; /* 98vw */
		justify-content: center;
		margin: 0 auto 1.5vh;
	}
	
	.vt--bloc-lecteur video {
		width: 100%;
	}
	.vt--bloc-lecteur audio {
		width: 100%;
	}
/*
	.block-enregistrement-gr {
		width: auto !important;
		max-width: 100% !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
*/
/*
	.popup__bloc.block-enregistrement-gr {
		background-color: var(--bg-symbole-fichier-de-travail);	
	}
*/
	.vt--clavier-lecteur {
		display: flex;
		flex-direction: column;
		align-items: center;
		white-space: nowrap;
		background-color:  var(--vtmt--bg-clavier);
		/*padding: 3px 6px;*/
		width: fit-content;
		max-width: 98vw;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 2%;
	}
	
	.vt--clavier-lecteur > * {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap; /*nowrap*/
		align-items: center;
		/*white-space: normal;*/
		justify-content: center;
		width: 100%;
		background-color: var(--vtmt--bg-masque-clair);
		margin: 3px 6px;
		padding: 3px 0;
	}

	/*.vt--clavier-lecteur > * > *:not(.vt--balance > *){
		width: 50px;
		height: 50px;
		margin: 3px;
		text-align: center;
		padding: 3px;
		cursor: pointer;
	}*/
	/*@media screen and (max-width: 380px) {
		.vt--clavier-lecteur > * > *:not(.vt--balance > *){
			width: calc((98vw / 7) - 8px);
		}
	}*/

	/* les trois règles ci-dessous sont de cas particuliers de la règle précédente */
	
	touche-clavier,
	touche-bouton,
	compteur-clavier {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		text-align: center;
		width: var( --vtmt--width-boutons);
		height: var(--vtmt--height-boutons);
		margin: 3px;
		padding: 3px;
	}
	
	touche-clavier,
	touche-bouton {
		cursor: pointer;
	}

	touche-clavier { 
		/*display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;*/
		border-radius: 20%;
		background-color: #fff;
		color: #000;
		line-height: 1.25;
		letter-spacing: 0.0333em;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 600;
		user-select: none;
		font-size: 2rem; /*1.7rem;*/
	}

	touche-bouton { 
		/*display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;*/
		border-radius: 50%;
		background-color: #fff;
		color: #000;
		line-height: 1.25;
		letter-spacing: 0.0333em;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 600;
		user-select: none;
		font-size: 2rem; /*1.7rem;*/
	}

	compteur-clavier {
		/*display: inline-flex;
		align-items: center;
		justify-content: center;*/
		border: none;
		background-color: #000;
		color: #fff;
		/*height: var(--vtmt--height-boutons);*/
		line-height: 1.25;
		letter-spacing: 0.0333em;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		/*font-weight: 600;*/
		user-select: none;
		font-size: 1.5rem; /*1.7rem;*/
	}

	.vt--bouton-clavier-enfonce {
		background-color: var(--vtmt--bg-bouton-clavier-enfonce) !important;
		color: white !important;
	}
	
	.vt--aff-compteur {
		display: flex;
		position: relative; /* pour les compteurs de boucles */
		background-color: #000 !important;
		color: #fff !important; 
		border-radius: 8% !important;
		align-items: center;
		justify-content: center;
	}

	.vt--support-compteur-elargi {
		width: 100px !important;
	}
	.vt--support-compteur-elargi .vt--masque-fleches {
		display: flex !important;
	}

	.vt--texte-compteur, .vt--masque-fleches {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		color: #fff;
	}
	.vt--masque-fleches {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		opacity: 1;
		
	}
	.vt--texte-compteur {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.vt--fleche {
		width: 30%;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10%;	
	}
	.vt--fleche > div {
		width: 100%;
		text-decoration: none;
		color: #fff;
		opacity: 0.5;
		line-height: 50px;
	}
	.vt--fleche > div:hover {
		opacity: 1;
		/*background-color: #5c6874;*/
	}
	.vt--fleche-g > div {
		text-align: left;
	}
	.vt--fleche-g > div > * {
		padding-left: 3px;
	}
	.vt--fleche-d > div {
		text-align: right;
	}
	.vt--fleche-d > div > * {
		padding-right: 3px;
	}

	.vt--boucle-courante {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		line-height: 1.25;
		letter-spacing: 0.0333em;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		/*font-weight: 600;*/
		user-select: none;
		font-size: 1.5rem; /*1.7rem;*/
		position: relative; /* pour les compteurs de boucles */
		background-color: #000 !important;
		color: #fff !important; 
		border-radius: 8% !important;
	}
	/*.vt--contenu-boucle-courante {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}*/
	.vt--nom-boucle-courante,
	.vt--compteurs-boucle-courante {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		line-height: 1.25;
		letter-spacing: 0.0333em;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		/*font-weight: 600;*/
		user-select: none;
		height: var(--vtmt--height-boutons);
		font-size: 1.5rem; /*1.7rem;*/
		/*position: relative;*/ /* pour les compteurs de boucles */
		border-radius: 8% !important;
		margin: 3px;
		padding: 3px;
	}
	.vt--compteurs-boucle-courante{
		background-color: green !important;
		color: #fff !important;
	}
	.vt--nom-boucle-courante{
		background-color: white !important;
		color: #000 !important;
	}
/*
	.vt--onoff-boucle {
		display: none;
	}
*/
	.vt--balance-nom-voie {
		color: black;
		text-align:center;
	}
	.vt--balance-curseur {
		cursor: pointer;
	}

	.vt--bloc-saisie-nom-boucle {
		display: flex;
		width: fit-content !important;
		background-color: rgba(255, 255, 255, 0);
	}

	.vt--choix-boucle {
		display: block;
		width: fit-content !important;
		background-color: var(--bg-masque-clair) !important;
		border-radius: 0 !important;
	}

	.vt--manip-boucles {
		justify-content: left;
		background-color: pink;
		text-align: center;
	}

	.vt--boucle-courante {
		width: fit-content !important;
		padding: 0 2px !important; 
	}

/*	.vt--hidden {
		display: none !important;
	}
*/

	.block-enregistrement-gr a, .block-enregistrement-gr button {
		cursor: pointer;
	}
	.block-enregistrement-gr a, .block-enregistrement-gr button:active {
		color: #aaa;
	}
	.block-enregistrement-gr .block-lecteur {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	.block-enregistrement-gr .block-lecteur-elargi {
		width: 900px;
		max-width: 95vw;
	}
	.block-enregistrement-gr audio, .block-enregistrement-gr video {
		width: 100% !important;
	}
	/*.block-enregistrement-gr .span-centre-v {
	}*/

	.block-enregistrement-gr--column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
	}
	.block-enregistrement-gr--row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		white-space: normal;
	}

	.block-enregistrement-gr--audio, .block-enregistrement-gr--video {
		margin-top: 0 !important;
		margin-bottom: 1.5% !important;
		padding: 0.5%;	
	}

	.block-enregistrement-gr--clients {
		width: max-content !important;
		max-width: 95vw;
		background-color: var(--bg-masque-clair);
		border-radius: 8px;
		padding: 5px;
		gap: 20px 10px;
		white-space: nowrap;
	}
	.block-enregistrement-gr--clients.enligne {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		
	}
	.block-enregistrement-gr--clients.encolonne {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 0;
		
	}
	.block-enregistrement-gr--clients.encolonneetenligne {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 0;
		gap: 10px;
		
	}
	.block-enregistrement-gr--clients.encolonneetenligne > *{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		
	}

	.block-enregistrement-gr--clients-symbole-pupitre .cercle {
		display: table;
		background-color: var(--bg-symbole-fichier-de-travail);
		border-radius:50%;
		height: 2em;
		width: 2em;
		font-size: 2em;
		line-height: 2em;
		text-align: center;
		padding: 0 0;
	}
	.block-enregistrement-gr--clients-symbole-pupitre .rectangle {
		display: table;
		background-color: var(--bg-symbole-fichier-de-travail);
		width: fit-content;
		font-size: 2em;
		line-height: 1em;
		white-space: normal;
		text-align: center;
		border-radius: 8px;
		padding: 15px;
	}

	.block-enregistrement-gr--clients-symbole-pupitre-style {
		display: table-cell;
		vertical-align: middle;
		color: var(--co-symbole-fichier-de-travail) !important;
		text-decoration: none;
		cursor: pointer;
	}
	.block-enregistrement-gr--clients-symbole-pupitre-style:before {
		font-family: "Font Awesome 5 Free"; 
		font-weight: 900; 
		content: "\f152";
		padding-right: 1%;
	}
		

	.block-enregistrement-gr--clients-symbole-pupitre-style.cercle.pupitre-choisi {
		background-color: var(--bg-un-morceau);
		color: var(--co-un-morceau);
	}
	.block-enregistrement-gr--clients-symbole-pupitre-style.rectangle.pupitre-choisi {
		background-color: var(--bg-masque-clair);
		color: #000 !important;
	}

	.block-enregistrement-gr--clients-choix-boucle {
		display: block;
		width: fit-content !important;
		background-color: var(--bg-masque-clair) !important;
		border-radius: 0 !important;
	}

	.parent {
		position: relative;
	}
	.child1 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.7;
	}
	.child2 {
		z-index: 1;
	}
}
