/**
 * S'applique au bloc bloc-oeuvre  sur le site et dans l'éditeur
 */

.vt--une-section {
	.vt--une-oeuvre {
		
		width: 100% !important;
		max-width: 100% !important; /*calc(100% - 8rem)*/
		line-height: 2.4em;
		margin-top: 2% !important;
		background-color: var(--vtmt--bg-oeuvre);
		color: var(--vtmt--co-oeuvre);

		.vt--bloc-titre-oeuvre {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto !important;
			max-width: 100% !important;
			width: 100%;
			background-color: var(--vtmt--bg-titre-oeuvre);
			color: var(--vtmt--co-titre-oeuvre);

			h2.vt--titre-oeuvre  {
				margin: 0 !important;
				width: max-content !important;
				max-width: calc(100% - 80px) !important;
			}
		}
		

		.vt--wrap-oeuvre {
			margin-top: 30px;
			background-color: var(--vtmt--bg-oeuvre);
			color: var(--vtmt--co-oeuvre);
			.vt--entete-oeuvre {
				background-color: var(--vtmt--bg-bloc-entete);
				color: var(--vtmt--co-bloc-entete);
				padding: 1%;
				h3 {
					margin-top:0;
				}
			}
			.vt--entete-oeuvre a {
				color: var(--vtmt--lk-bloc-entete);
			}
			.vt--entete-oeuvre a:hover {
				color: var(--vtmt--lko-bloc-entete);
			}
		}
	}
	.vt--une-oeuvre > * {
		padding: 0 1% 0.1% 1%;
	}

	.vt--une-oeuvre > :not(.consignes):not(.bloc-paroles):not(.enregistrement):not(.wp-block-audio):not(.execution){
		max-width: 100% !important;
	}




}


